<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Cmac2795">Charlie.</a> He is an aspiring programmer, who used splurty to learn to code! 
  </p>
  <br />
  <p>
    The progam ,splurty, is used by many students to help them build an app and learn to program at the same time! It uses html, css, and ruby, and it helps students learn how to use tools and resources like heroku and github. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Charlie McKinley</h2>
      <br />
      <p>
        Charlie is a person with many interest but his most recent interest is learning computer programming. He has attend Auckland University of Technology, the London school of Economics, and the University of San Diego, and is currently enrolled at the SMU coding Bootcamp. 
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />